doctype html
html
  head
    meta(charset='utf-8')
  body
    div(class='menu')
      ul
        li
          a(id="about") about
        li
          a friend
        li
          a post
        li
          a repository
    div(class='description')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="/javascripts/script.js")
